ion-menu-button {
    color: var(--ion-color-primary);
}


ion-card{
    color: black;
    background: rgb(112, 146, 255);
  }

    button {
      margin: 15px;
      background-color: #eb445a;
      padding: 9px;
      border-radius: 6px;
    }
