ion-menu-button {
    color: var(--ion-color-primary);
}

ion-item
{
  width: 1000px;
  display: block;
}

button{
  margin: 15px;
  background-color: #eb445a;
  padding: 9px;
  border-radius: 6px;
}
